__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env
.DS_Store
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/
!models/.gitkeep
experiments/metrics/*
!experiments/metrics/.gitkeep
experiments/results/*
!experiments/results/.gitkeep
*.parquet
*.csv
!data/ports/*.csv
!data/vessels/*.csv
.ipynb_checkpoints/
